<ion-header-bar class="bar-subheader item-input-inset" side="left">
  <button class="button button-clear button-assertive" ng-click="goback()">
    Cancel
  </button>
  <h5 class="font-130 text-center">{{user.username}}</h5>
</ion-header-bar>
<ion-content>
  <ion-list class="list card" ng-repeat="notify in notifications">
    <div class="item item-divider">
      <span ng-bind="notify.date"></span>
    </div>
    <div class="item item-body">
      <strong><span ng-bind="notify.actionusername"></span></strong>
      <p>
        <span ng-bind="notify.text"></span>
      </p>
    </div>
  </ion-list>
</ion-content>

