<ion-view view-title="Messages">
  <ion-nav-buttons side="left">
    <button ng-click="toSearch()" menu-toggle="left" class="button button-icon icon ion-ios-search-strong"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button ng-click="toTrack()" class="button button-dark icon ion-ios-plus-outline"></button>
  </ion-nav-buttons>

  <ion-content>
    <div ng-if="users == ''" class="text-center">
      <br>
      <br>
      <br>
      <br>
      <br>
      <p class="color-gray"  >No recent messages...</p>
    </div>


    <ion-list>
      <ion-item name="message-detail" class="item-remove-animate item-avatar item-icon-right" ng-repeat="user in users" type="item-text-wrap" ng-click="detail(user.username);loading()">
        <img ng-src="{{user.imgurl}}">
        <h2>{{user.username}}</h2>
        <p>{{user.email}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
