
<ion-header-bar class="bar-subheader item-input-inset" side="left">
  <button class="button button-icon icon ion-ios-arrow-left" ng-click="goback()">
  </button>
  <i class="text-center button icon button-icon ion-ios-navigate"></i>&nbsp;<h2 class="font-130 text-center">My tracks</h2>
</ion-header-bar>



<ion-content>
    <ion-list id="trackArea"  class="text-center uppercase">
      <label ng-show="noTracks">No tracks available...</label>
      <div  ng-if="routes !=''" ng-repeat="route in routes  | orderBy:'created':true" class="list card">

        <p class="item text-center">
          <a style="color: #0a9dc7" am-time-ago="route.created"></a>
        </p>

        <div ng-click="trackdetail(route._id)" class="item item-body">
          <img class="full-image" src="{{route.img}}">

          <p class="text-center">
            <a href="#" class="subdued text-left bold">{{route.distance}}  &nbsp; &#9679;</a>
            <a href="#" class="subdued text-center bold">{{route.time}}  &nbsp; &#9679;</a>
            <a href="#" class="subdued text-right bold">{{route.avg_speed|number:3}} km/h</a>
          </p>
        </div>

      </div>



    </ion-list>

  </ion-content>



